body{
    background: gray;
}
center{
    background: backslateblue;
    width: 100%;
    border-radius: 8px;
   
}
.courses{
    font-size: 40px;
    background: darkslateblue;
    min-height: 100px;   
    border-radius: 20px;
    border: 7px solid white;
    width: 500px;
    
}
.log{
    background: darkslateblue;
    min-height: 40px;
    padding-top: 30px;
    border-radius: 20px;;
    align-items: center;
    
}
#im2{
   position: absolute;
   right: 50px;
   top: 15px;
}
#im1{
    position: absolute;
    left: 50px;
    top: 15px;
}
.log img{
    border-radius: 20px;
}
.log h1{
    position: absolute;
    right: 40%;
    font-weight: bpld;
    cursor: pointer;
    transition: All 0.2s;
    top: -4px;
}
.courses button{
font-size: 30px;
top: -8px;
background: darkslateblue;
width: 80%;
transition: all 0.2s;
}
.courses button:hover{
    move: bottom;
    border: 5px solid white;
    background: skyblue;
    cursor: pointer;
    width: 90%;
    font-size: 35px;
    padding-top: 10px;
    border-top: 5px solid darkslateblue;
    border-radius: 10px;
}
.courses:hover{


}